@mixin max-width($width) {
    -webkit-max-width: $width;
    -moz-max-width: $width;
    max-width:$width
}

// Использование миксина
.box1 {
    @include max-width(230px);
    background-color: aqua;
}

.box2 {
    @include max-width(400px);
    background-color: red;
}
